# Data 
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/models/*
!outputs/models/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# IDE
.vscode/
.idea/
.ipynb_checkpoints/

# OS
.DS_Storeß
Thumbs.db

# Plan file
DS570 Term Project Plan.md